@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap");
:root {
  --Red: hsl(1, 90%, 64%);
  --Blue: hsl(219, 85%, 26%);
  --White: hsl(0, 0%, 100%);
  --Very-light-grayish-blue: hsl(210, 60%, 98%);
  --Light-grayish-blue-1: hsl(211, 68%, 94%);
  --Light-grayish-blue-2: hsl(205, 33%, 90%);
  --Grayish-blue: hsl(219, 14%, 63%);
  --Dark-grayish-blue: hsl(219, 12%, 42%);
  --Very-dark-blue: hsl(224, 21%, 14%);
}
.main {
  padding-top: 10px;
}

.notif_box {
  margin-top: 10px;
  padding: 5px 0px 5px 10px;
}
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: var(--Dark-grayish-blue);
  font-size: 14px;
  padding: 8px;
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
}
.topright__box {
  font-size: 15px;
}
.hover:hover {
  cursor: pointer;
  color: var(--Blue);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 5px 0;
}
.notif_title {
  color: var(--Very-dark-blue);
  font-weight: 800;
  font-size: 20px;
}
.number_box {
  background-color: var(--Blue);
  color: var(--White);
  width: 30px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 800;
}
.topleft__box {
  display: flex;
  flex-direction: row;
  align-items: center;
}
strong {
  color: var(--Very-dark-blue);
  margin-right: 5px;
}
.gray_bold {
  color: var(--Dark-grayish-blue);
}
.blue_bold {
  color: var(--Blue);
}
.middle_box {
  border: 1px solid var(--Light-grayish-blue-2);
}
.time {
  color: var(--Grayish-blue);
}
.notif_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.profile_pic {
  width: 45px;
}
.time,
p {
  margin: 8px;
}
.new {
  border-radius: 10px;
  background-color: var(--Very-light-grayish-blue);
}
.img {
  width: 50px;
}
.reaction {
  margin-left: 5px;
}
.reddot {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: var(--Red);
  border-radius: 100px;
  margin-left: 8px;
}
.middle_box {
  width: 70%;
  margin-left: 70px;
  padding: 10px;
  border-radius: 5px;
}
.middle_box:hover {
  background-color: var(--Light-grayish-blue-1);
  cursor: pointer;
}

.attribution {
  text-align: center;
  margin-top: 50px;
  color: var(--Very-dark-blue);
}
.attribution a {
  text-decoration: none;
  color: var(--Very-dark-blue);
}

@media (min-width: 768px) {
  body {
    font-size: 18px;
  }
  .topright__box {
    font-size: 18px;
  }
  .notif_title {
    font-size: 25px;
  }
}
